name: Build

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK/Maven
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - name: Build and verify all modules
        run: >-
          mvn
          --batch-mode
          --activate-profiles=checkstyle,spotbugs,coverage
          "-DrepoBaseUrl=${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}"
          verify
